kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 31443   # NodePort your service uses
        hostPort: 8080         # Windows host port
      - containerPort: 80
        hostPort: 80
      - containerPort: 443
        hostPort: 443
